<form class="form-inline">
    <legend>Novo Book</legend>
    <div class="jumbotron">
        <div class="form-group">
            <label class="sr-only" for="">Title</label>
            <input type="text" placeholder="Title" id="" class="form-control" ng-model="book.title">
            <label class="sr-only" for="">Authorid </label>
            <input type="text" placeholder="Authorid" id="" class="form-control" ng-model="book.authorid">
        </div>

    <button type="type="reset"" ng-click="adicionarBook(book)" class="btn btn-primary"> Cadastrar</button>
    </div>
</form>