<form class="form-inline">
    <legend>Novo Author</legend>
    <div class="jumbotron">
        <div class="form-group">
            <label class="sr-only" for="">Frist Name</label>
            <input type="text" placeholder="Frist Name" id="" class="form-control" ng-model="author.firstname">
            <label class="sr-only" for="">Last Name</label>
            <input type="text" placeholder="Last Name" id="" class="form-control" ng-model="author.lastname">
        </div>
    <a href="#!/lista-author" ng-click="adicionarAuthor(author)" class="btn btn-primary" role="button">Cadastrar</a>
    </div>
</form>